@*@model LOTS3.Models.PermitHistory
@{ViewData["Title"] = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml";}
<h1>Details</h1>
<div><h4>PermitHistory</h4><hr />
    <dl class="row">
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.PermitNo)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.PermitNo)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.StartDate)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.StartDate)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.EndDate)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.EndDate)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Comments)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Comments)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.PermitType)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.PermitType.Id)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.PermitteeType)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.PermitteeType.Id)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Permittee)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Permittee.Id)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Lot)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Lot.Id)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.PayType)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.PayType.Id)</dd>
    </dl></div>
<div><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a></div>*@
@model PermitteeCreateViewModel
@{
    ViewBag.Title = "Permittee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="padding-top:1em;">Details</h4>
<form enctype="multipart/form-data" method="post" class="mt-3">
    <div class="col-md-12">
        <div class="col-md-12 row" style="padding:7px;">
            <span class="col-md-6 ">
                <strong><span style="color:red;"></span>Employee Number:</strong>
                <span style="padding-bottom:7px;">
                    <input readonly asp-for="EmployeeNo" class="form-control" placeholder="Employee No" />
                    <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                </span>
            </span>
            <span class="col-md-6 ">
                @if (User.IsInRole("ISD Parking Services") || User.IsInRole("Administrator"))
                {
                    <strong><span style="color:red;"></span>Status:</strong>
                    <select asp-for="StatusTypeId" class="form-control" disabled="disabled"
                            asp-items="@(new SelectList(ViewBag.StatusTypes,"Id","StatusTypeName"))">
                        <option value="">-- Select Status --</option>
                    </select>
                }
                else if (User.IsInRole("Coordinator"))
                {
                    <strong><span style="color:red;"></span>Status:</strong>
                    <select asp-for="StatusTypeId" class="form-control" disabled="disabled"
                            asp-items="@(new SelectList(ViewBag.StatusTypes,"Id","StatusTypeName"))">
                    </select>
                }
            </span>
        </div>
        <div class="col-md-12 row" style="padding:7px;">
            <span class="col-md-6 ">
                <strong><span style="color:red;"></span>First Name:</strong>
                <span style="padding-bottom:7px;">
                    <input readonly asp-for="FirstName" class="form-control" placeholder="First Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </span>
            </span>
            <span class="col-md-6">
                <strong><span style="color:red;"></span>Last Name:</strong>
                <span style="padding-bottom:7px;">
                    <input readonly asp-for="LastName" class="form-control" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </span>
            </span>
        </div>
        <div class="col-md-12 row" style="padding:7px;">
            <span class="col-md-6" style="padding-bottom:7px;">
                <strong><span style="color:red;"></span>Email Address:</strong>
                <input readonly asp-for="Email" class="form-control" placeholder="Email Address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </span>
            <span class="col-md-6" style="padding-bottom:7px;">
                <strong>Phone Number:</strong>
                <input readonly asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </span>
        </div>
        <div class="col-md-12 row" style="padding:7px;">
            <span class="col-md-6">
                <strong><span style="color:red;"></span>Department:</strong>
                <span style="padding-bottom:7px;">
                    <select asp-for="DepartmentId" class="form-control" disabled
                            asp-items="@(new SelectList(ViewBag.Departments,"Id","DepartmentName"))">
                        <option value="">-- Select department --</option>
                    </select>
                    <span asp-validation-for="DepartmentAbrv" class="text-danger"></span>
                </span>
            </span>
            <span class="col-md-6">
                <strong><span style="color:red;"></span>Division:</strong>
                <span style="padding-bottom:7px;">
                    <input readonly asp-for="Division" class="form-control" placeholder="Division" />
                    <span asp-validation-for="Division" class="text-danger"></span>
                </span>
            </span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 row" style="padding:10px;">
            <div id="lot-container">
                <TABLE class='table' id="lotTable">
                    <thead>
                        <tr align='center'>
                            <th>Lot</th>
                            <th>Permit No</th>
                            <th>Permit Type</th>
                            <th>Permittee Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Pay Type</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.MultipleLots.Count; i++)
                        {
                            <tr>
                                <td id="lotid-@i" data-id="@Model.MultipleLots[i].LotId">@Model.MultipleLots[i].Lot.LotName</td>
                                <td id="permitno-@i" data-id="@Model.MultipleLots[i].PermitNo">@Model.MultipleLots[i].PermitNo</td>
                                <td id="permittypeid-@i" data-id="@Model.MultipleLots[i].PermitTypeId">@Model.MultipleLots[i].PermitType.PermitTypeName</td>
                                <td id="permitteetypeid-@i" data-id="@Model.MultipleLots[i].PermitteeTypeId">@Model.MultipleLots[i].PermitteeType.PermitteeTypeName</td>
                                <td id="startdate-@i">@string.Format("{0:d}", Model.MultipleLots[i].StartDate)</td>
                                <td id="enddate-@i">@string.Format("{0:d}", Model.MultipleLots[i].EndDate)</td>
                                <td id="paytypeid-@i" data-id="@Model.MultipleLots[i].PayTypeId">@Model.MultipleLots[i].PayType.PayTypeName</td>
                                <td id="comments-@i">@Model.MultipleLots[i].Comments</td>
                            </tr>
                        }
                    </tbody>
                </TABLE>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 row" style="padding:10px;">
            <span class="col-md-6">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </span>
        </div>
    </div>
</form>






