@model IEnumerable<LOTS3.Models.VehicleLiabilityWaiver>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="padding-top:1em;">Vehicle Liability Waiver
    <a style="display: inline; font-size: 14px;" asp-action="Create">
        <i class="fas fa-user-plus"></i></a>
</h4>
<p class="text-right"><a href="@Url.Action("Create")" class="btn btn-outline-info">New Vehicle Liability Waiver</a></p>
<table class="table" id="datatable" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Department)</th>
            <th>@Html.DisplayNameFor(model => model.Lot)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.PermitNo)</th>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <th>@Html.DisplayNameFor(model => model.MakeModel)/@Html.DisplayNameFor(model => model.Color)</th>
            <th>@Html.DisplayNameFor(model => model.StatusType.StatusTypeName)</th>
            <th>@Html.DisplayNameFor(model => model.DateRequested)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
            <td>@Html.DisplayFor(modelItem => item.Lot.LotName)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.PermitNo)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>@Html.DisplayFor(modelItem => item.MakeModel)/@Html.DisplayFor(modelItem => item.Color)</td>
            <th>@Html.DisplayFor(modelItem => item.StatusType.StatusTypeName)</th>
            <td>@Html.DisplayFor(modelItem => item.DateRequested)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>
}