@model LOTS3.Models.Allocation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="padding-top:1em;">Detail Allocation</h4>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lot.LotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllocationNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllocationNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlusMinusAllocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlusMinusAllocation)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lot.Id)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
