@model IEnumerable<Permit>
@{
    ViewBag.Title = "Permittees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="indexForm" method="post" asp-controller="Permittee" asp-action="Index">
    <div class="col-md-12 row" style="padding:7px;">
        <span class="col-md-auto" style="padding:7px; padding-top:1em;">
            <h4>Permittees<a style="display: inline; font-size: 14px;" asp-action="Create">
            <i class="fas fa-user-plus"></i></a></h4>
        </span>
        <span class="col-md-5" style="padding:7px; padding-top:1em;">
            @if(User.IsInRole("Coordinator"))
            {
                <select id="DepartmentId" name="DepartmentId" class="form-control font-weight-bold" disabled="true"
                    asp-items="@(new SelectList(ViewBag.Departments,"Id","DepartmentName", ViewBag.DepartmentId))">
                <option style="align-items:center" value="">-- Select department --</option>
                </select>
            }
            else
            {
                <select id="multipleDepartments" name="multipleDepartments" class="form-control font-weight-bold" 
                    asp-items="@(new SelectList(ViewBag.Departments,"Id","DepartmentName", ViewBag.MultipleDepartments))" placeholder="Select Department.." multiple>
                    <option style="align-items:center" value="">Select Departments...</option>
                </select>
            }
        </span>
        <span class="col-md-auto" style="padding:7px; padding-top:1em;">
            <input type="submit" value="Select" class="btn btn-primary" />
        </span>
    </div>
    <p class="text-right"><a href="@Url.Action("Create")" class="btn btn-outline-info">New Permittee</a></p>
    <table class="table" id="datatable" style="width:110%">
        <thead>
            <tr align="center" style="width:auto">
                <th>Dep</th>
                <th>Emp#/Name</th>
                <th>Permit/Key#</th>
                <th>End</th>
                <th>Status</th>
                <th>Requested</th>
                <th>Lot</th>
                <th>Pay</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr align="left">
                <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
                <td>@Html.DisplayFor(modelItem => item.Permittee.EmployeeNo)/@Html.DisplayFor(modelItem => item.Permittee.LastName),@Html.DisplayFor(modelItem => item.Permittee.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.PermitNo)/@Html.DisplayFor(modelItem => item.KeycardNo)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.StatusType.StatusTypeName)</td>
                <td>@Html.DisplayFor(modelItem => item.Permittee.RequestedDate)</td>
                <th>@Html.DisplayFor(modelItem => item.Lot.LotName)</th>
                <th>@Html.DisplayFor(modelItem => item.PayType.PayTypeName)</th>
                <td style="width:auto">
                    @* <a asp-action="Details" asp-route-id="@item.Permittee.Id"><i class="fas fa-1x fa-info"></i></a>| *@
                    <a asp-action="Edit" asp-route-id="@item.Permittee.Id"><i class="fas fa-1x fa-edit"></i></a>|
                    <a asp-action="Delete" asp-route-id="@item.Permittee.Id"><i class="fas fa-1x fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <p><strong>Total Permits: @Model.Count()</strong></p>
    @section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                searching: true,
                paging: false,
                lengthChange: false,
                ordering: true,
                info: false,
                language: {
                    search: "Search:",
                    searchPlaceholder: "Type to search..."
                }
            });
        });
        new MultiSelectTag('multipleDepartments')
        //$(document).ready(function () 
        //{
        //    $('#datatable').DataTable();
        //    $('#DepartmentId').change(function () 
        //    {
        //        alert($('#DepartmentId').val());
        //        $('#indexForm').submit();
        //    });
        //    $('#multipleDepartments').change(function () {
        //        alert($('#multipleDepartments').val());
        //        $('#indexForm').submit();
        //    });
        //});
    </script>
    }
</form>
