@model LOTS3.Models.PermitType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="padding-top:1em;">Details</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermitTypeNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTypeNo)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermitTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
