@model IEnumerable<LOTS3.Models.PermitType>

@{
    ViewData["Title"] = "PermitType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="padding-top:1em;">
    Permit Types
    <a style="display: inline; font-size: 14px;" asp-action="Create">
        <i class="fas fa-user-plus"></i>
    </a>
</h4>
<table class="table" id="datatable" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PermitTypeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermitTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PermitTypeNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermitTypeName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-1x fa-info"></i></a> |
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-1x fa-edit"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-1x fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}
